#mountain{
    position: relative;
    position: fixed;
    width: 100%;
    height: 100%;
}

#mainsection{
    position: absolute;
    top: 0%;
    left: 0%;
}

#navsection{
    background: rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    position: fixed;
}
#carousel{
    margin-top: 8%;
    width: 1100px;
   margin-left: 10%;
    width: 80%;
    height: 600px;

}
#div3{
     
}