#mountain{
    position: relative;
    position: fixed;
    width: 100%;
    height: 100%;
}

#mainsection{
    position: absolute;
    top: 0%;
    left: 0%;
}

#navsection{
    background: rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    position: fixed;
     z-index: 9999; 
}

#navsection:hover{
    background-color: aqua;

}

#carousel{
    margin-left: 24%;
    width: 800px;
}

#text1{
    background: rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    
}

#card1{
    margin: 20px;
}

#card2{
    margin: 20px;
}

#footer:hover{
    background-color: aqua;

}
